@{
    ViewBag.Title = "Contact";
}

<div class="splash small">
    <h2>Contact</h2>
</div>

<div class="content contact container">
    <h2>Message Sent</h2>
    <p>Thank you for your message. I'll get in touch as soon as I can.</p>
</div>