@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin small{
    @media(min-width: 768px){
        @content;
    }
}

@mixin medium{
    @media(min-width: 992px){
        @content;
    }
}